/*global styles*/

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
.alert {
    margin: 10px 0 5px 0;
}

#group-selector{
    margin-top: 30px;
}

#group-selector select{
    height: 30px;
    border-color: #cccccc;
    width: 80%;
}

#form{
    margin: 20px 0 5px 100px;
}

/*Footer Styles*/
#footer{
    border-top: 1px solid #dddddd; 
    padding-top: 10px;
}